.wrapper_main {
  width: 100%;
  max-width: 100%;
  height: 470px;
  max-height: 100%;
  background-image: url("/images/whobg.png");
  background-size: cover;
  display: flex;
  flex-direction: column;

  .heading {
    padding-right: 40px;
    top: -20px;
    position: relative;
    width: fit-content;
    font-size: 45px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
  }

  div {
    margin-right: 60px;
    margin-top: 20px;
    @media (max-width: 1292px) {
      margin-top: 16px;
      margin-right: 60px;
    }
    @media (max-width: 1236px) {
      margin-top: 16px;
      margin-right: 0px;
    }

    .box_content {
      width: 100%;
      max-width: 100%;
      height: 131px;
      padding: 25px 60px 37px;
      background: rgba(14, 14, 16, 1);
      border-radius: 10px;
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      color: #fff;
      cursor: pointer;
      @media (max-width: 527px) {
        padding: 25px 0px 37px;
      }
      .num {
        font-size: 35px;
        font-weight: 700;
      }
      .title {
        font-size: 18px;
        font-weight: 400;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 5px;
        height: 5px;
        background-color: #fff;
        border-radius: 50%;
      }

      &:hover::before {
        animation: borderMove 1.3s linear infinite;
      }
    }
  }
}

@keyframes borderMove {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: 100%;
    transform: translateX(-100%);
  }
  50% {
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
  }
  75% {
    top: 100%;
    left: 0;
    transform: translateY(-100%);
  }
  100% {
    top: 0;
    left: 0;
  }
}
